body {
    font-family: 'Ubuntu', sans-serif;
}

p{
    font-weight: 400;
    transition: .3s;
}

.card{
    border-radius: 12px;
}

.green-color{
    color: green;
    font-weight: 500;
}

.orange-custom{
    color: #f99d25;
}

.green-custom{
    color: rgb(49, 153, 49);
}

.red-custom{
    color: #e92926;
}




